<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,265}</string>
                <key>spriteSourceSize</key>
                <string>{177,265}</string>
                <key>textureRect</key>
                <string>{{141,0},{177,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,300}</string>
                <key>spriteSourceSize</key>
                <string>{81,300}</string>
                <key>textureRect</key>
                <string>{{60,0},{81,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,300}</string>
                <key>spriteSourceSize</key>
                <string>{60,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headshoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,216}</string>
                <key>spriteSourceSize</key>
                <string>{377,216}</string>
                <key>textureRect</key>
                <string>{{522,0},{377,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headshoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,129}</string>
                <key>spriteSourceSize</key>
                <string>{418,129}</string>
                <key>textureRect</key>
                <string>{{0,300},{418,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>re.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,296}</string>
                <key>spriteSourceSize</key>
                <string>{204,296}</string>
                <key>textureRect</key>
                <string>{{318,0},{204,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>out.png</string>
            <key>size</key>
            <string>{899,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16393494fdaf2866628423ad357ff6a5:74924620bc57faeff90dcb21528aad36:d63a484431ba7aadae7e05d2439d3b05$</string>
            <key>textureFileName</key>
            <string>out.png</string>
        </dict>
    </dict>
</plist>
